# ---- Python ----
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# ---- LaTeX (TeX) ----
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.dvi
*.xdv
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.fdb_latexmk
*.synctex.gz
*.pdfsync
*.nav
*.snm
*.vrb
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.xdy
*.ilg
*.ind
*.idx

# Editors
*.swp
*~
*.bak
*.tmp
*.backup
*.DS_Store